.home-container {
  padding: 20px;
  font-size: 22px;
  text-align: center;
  border: 1px solid red;
  background-color: #fff;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #00285F;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid orange;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.home-content-container {
  padding: 20px;
  color: #fff;
  border: 1px solid blue;
}

.home-content-container h1 {
  font-size: 2.25rem;
}

.home-content-container p {
  display: flex;
  font-size: 1.125rem;
  text-align: center;
  color: #fff;
}

.home-image-container {
  padding: 20px 15px;
  border: 1px solid purple;
}

.home-image-container svg {
  width: 100%;
}

.home-footer-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #ededed;
  gap: 16px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid chartreuse;
  margin-top: 30px;
}

.home-footer-content {
  display: flex;
  align-items: center;
  text-align: center;
}

.home-footer-content p {
  margin-bottom: 0;
  font-size: 16px;
  color: #585858;
}


@media (min-width: 576px) {

.home-container {
  font-size: 30px;
}

.home-image-container svg {
  width: auto;
}

.home-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content-container p {
  max-width: 80%;
  white-space: break-spaces;
}

.home-footer-container {
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

}